<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>Bufete Guillermo Chavarria Gonzalez </h1>
            <p>Ofrecemos una serie de servicios legales y notariales , somos su mejor opcion ! </p>
        </div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink="">Inicio</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">Acerca de nosotros</a>
            <a routerLink="contact">Contactenos</a>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2 mt-3 mb-3">
        
            <button type="button" class="btn btn-primary">Facebook <span class="bi bi-facebook"></span></button>
         
            <button type="button" class="btn btn-primary">Twitter <span class="bi bi-twitter"></span></button>
      
            <button type="button" class="btn btn-primary">Whatsapp <span class="bi bi-whatsapp"></span></button>
       
        </div>
    </div>
</div>

<!-- Copyright -->
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">Lic. Daniel Araya P </a>
  </div>
  <!-- Copyright -->