<div class="banner">
    <div class="content">
        <h1 class="mb-5">Ofrecemos servicios legales a la puerta de tu casa!  <br/>  </h1>
        <a routerLink="menu">Solicite ya su cita legal <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
<!-- step  -->
<div class="container mt-5 mb-5">
    <h1 class="text-center">Como hago para contratar  <span class="highlight">un servicio legal ? Llamanos al telefono +506 88784818</span></h1>
    <div class="row mt-5">
        <!-- one  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>1</h1>
                <p>Seleccione el servicio </p>
            </div>
        </div>
<!-- two -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>2</h1>
                <p>Llene su informacion personal </p>
            </div>
        </div>
        <!-- three  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>3</h1>
                <p>Recibiras una llamada para confirmar la cita </p>
            </div>
        </div>
    </div>
</div>
<!-- foodbox  -->
<div class="container mt-4 mb-4">
    <h1 class="text-center">Ejemplos de los  <span class="highlight">servicios que ofrecemos</span></h1>
    <div class="row">
        <div class="col-lg-3 mt-3" *ngFor="let fd of servicesData;index as i">
            <div class="foodbox" *ngIf="i<=3">
                <img src="{{fd.foodImg}}" />
                <h1>{{fd.foodName}}</h1>
                <p>{{fd.foodPrice | currency:'INR'}}</p>
            </div>
        </div>
    </div>
    <a routerLink="menu" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>
</div>

